footer {
  position: relative;
  background-color: var(--color-main);
  padding: clamp(40px, 4.386vw, 50px) 0;

  .container {
    @media (max-width: 768px) {
      padding: 0 40px;
    }
  }
}

.footer {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  line-height: 24px;
  color: var(--color-white);
  grid-gap: 20px 0;

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
  }

  &__nav {
    @media (max-width: 768px) {
      width: 100%;
      order: 1;
      padding: 20px 0;
      border-top: 1px solid var(--color-white);
      border-bottom: 1px solid var(--color-white);
    }
  }

  &__about {
    display: flex;
    flex-direction: column;
    grid-gap: clamp(10px, 2.193vw, 25px);

    @media (max-width: 768px) {
      order: 1;
      text-align: center;
    }
  }

  &__adv {
    max-width: 365px;
    width: 100%;
    display: flex;
    flex-direction: column;
    grid-gap: clamp(15px, 1.754vw, 20px);

    @media (max-width: 768px) {
      max-width: 100%;
      align-items: center;
    }

    @media (max-width: 576px) {
      align-items: flex-start;
    }
  }

  &__adv-list {
    display: flex;
    align-items: center;
    grid-gap: 17px;
  }

  &__adv-image {
    flex-shrink: 0;

    picture,
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}






