header {
  position: relative;
  padding: clamp(10px, 1.053vw, 12px) 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__contacts {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;

    span {
      font-size: clamp(14px, 1.404vw, 16px);
      line-height: clamp(21px, 2.105vw, 24px);
    }

    a {
      font-size: clamp(14px, 1.404vw, 16px);
      line-height: clamp(21px, 2.105vw, 24px);
      font-weight: 700;
    }

    @media (max-width: 769px) {
      position: relative;
      top: 0;
      left: 0;
      transform: initial;
    }
  }

  &__logo {
    width: clamp(110px, 16.14vw, 184px);
    // height: 30px;

    img,
    picture {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
