.product-divider {
  margin-bottom: clamp(40px, 7.018vw, 80px);
  background-color: var(--color-main);
  padding: 40px 0 30px;

  &__wrapp {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    grid-gap: 20px;
    font-weight: 700;
    color: var(--color-white);

    @media (max-width: 768px) {
      flex-direction: column;
    }

    span {
      font-size: clamp(25px, 3.333vw, 38px);
      line-height: clamp(34px, 4.474vw, 51px);
    }
  }
}
