.product-divider {
  background-color: var(--color-main);
  padding: 40px 0 30px;

  &__wrapp {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-gap: 20px;
    font-weight: 700;
    color: var(--color-white);

    span {
      font-size: 38px;
      line-height: 51px;
    }
  }
}
