.shop {
  &__search {
    margin-bottom: clamp(20px, 2.632vw, 30px);
  }

  &__products {
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-gap: 30px;

    ul {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: clamp(10px, 1.754vw, 20px);

      @media (max-width: 1240px) {
        grid-template-columns: repeat(2, 1fr);
      }
    }

    &--season {
      @media (max-width: 576px) {
        li:first-child {
          grid-column: span 2;

          .card-banner {
            max-height: 360px;
          }

          .card-banner__image {
            max-height: 360px;

            picture,
            img {
              max-height: 360px;
            }
          }
        }
      }
    }


  }

  &__banner {
    margin-bottom: clamp(60px, 7.018vw, 80px);
    position: relative;
  }

  &__banner-image {
    position: relative;
    display: flex;
    height: 360px;

    picture,
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 5px;
    }

    &::before {
      content: '';
      position: absolute;
      height: 100%;
      width: 360px;
      left: 0;
      background: linear-gradient(90deg, #223D69 0%, rgba(34, 61, 105, 0) 100%);
      border-radius: 5px;
      transform: matrix(1, 0, 0, -1, 0, 0);

      @media (max-width: 768px) {
        height: 170px;
        width: 100%;
        top: 0;
        background: linear-gradient(0deg, #223D69 0%, rgba(34, 61, 105, 0) 100%);
      }
    }
  }

  &__banner-info {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 82px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-gap: 35px;

    @media (max-width: 768px) {
      width: 100%;
      height: 100%;
      left: 50%;
      top: 0%;
      transform: translateX(-50%) translateY(0);
      grid-gap: initial;
      justify-content: space-between;
      padding: 30px 0;
    }
  }

  &__banner-title {
    position: relative;
    font-size: clamp(22px, 2.807vw, 32px);
    line-height: clamp(29px, 3.772vw, 43px);
    font-weight: 700;
    color: var(--color-white);
  }

  &__categories {
    width: 100%;
    margin-bottom: clamp(30px, 4.386vw, 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-gap: 20px;

    @media (max-width: 768px) {
      width: 100vw;
    }
  }

  &__categories-slide {
    max-width: 160px;
  }

  &__categories-pagination {
    position: relative;
    max-width: 330px;
    width: 100%;
    display: flex;
    align-items: center;
    height: 1px;
    background-color: #B0B4C3;

    @media (max-width: 576px) {
      max-width: 100%;
    }

    .swiper-pagination-bullet {
      display: block;
      height: 1px;
      width: 100%;
    }

    .swiper-pagination-bullet-active {
      // position: absolute;
      width: 100%;
      // top: -2px;
      background-color: var(--color-blue);
      border-radius: 40px;
      height: 5px;
    }

    // .swiper-pagination-progressbar-fill {
    //   position: absolute;
    //   top: -2px;
    //   height: 5px;
    //   width: 100%;
    //   background-color: var(--color-blue);
    //   border-radius: 40px;
    // }
  }

  &__slider {
    width: 100%;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-gap: 20px;

    .swiper-pagination-bullet {
      display: block;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: transparent;
      border: 1px solid #125ED9;
      cursor: pointer;
    }

    .swiper-pagination-bullet-active {
      background-color: var(--color-blue);
    }
  }

  &__slider-info {
    height: 100%;

    picture,
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__slider-pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-gap: 5px;
  }
}
