.shop {
  &__search {
    margin-bottom: 30px;
  }

  &__products {
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-gap: 30px;

    ul {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 20px;
    }
  }

  &__banner {
    margin-bottom: 80px;
    position: relative;
  }

  &__banner-image {
    position: relative;
    display: flex;

    picture,
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 5px;
    }

    &::before {
      content: '';
      position: absolute;
      height: 100%;
      width: 360px;
      left: 0;
      background: linear-gradient(90deg, #223D69 0%, rgba(34, 61, 105, 0) 100%);
      border-radius: 5px;
      transform: matrix(1, 0, 0, -1, 0, 0);
    }
  }

  &__banner-info {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 82px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-gap: 35px;
  }

  &__banner-title {
    position: relative;
    font-size: 32px;
    line-height: 43px;
    font-weight: 700;
    color: var(--color-white);
  }

  &__categories {
    width: 100%;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-gap: 20px;
  }

  &__categories-slide {
    max-width: 160px;
  }

  &__categories-pagination {
    position: relative;
    max-width: 330px;
    width: 100%;
    display: flex;
    align-items: center;
    height: 1px;
    background-color: #B0B4C3;

    .swiper-pagination-bullet {
      display: block;
      height: 1px;
      width: 100%;
    }

    .swiper-pagination-bullet-active {
      // position: absolute;
      width: 100%;
      // top: -2px;
      background-color: var(--color-blue);
      border-radius: 40px;
      height: 5px;
    }

    // .swiper-pagination-progressbar-fill {
    //   position: absolute;
    //   top: -2px;
    //   height: 5px;
    //   width: 100%;
    //   background-color: var(--color-blue);
    //   border-radius: 40px;
    // }
  }

  &__slider {
    width: 100%;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-gap: 20px;

    .swiper-pagination-bullet {
      display: block;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: transparent;
      border: 1px solid #125ED9;
      cursor: pointer;
    }

    .swiper-pagination-bullet-active {
      background-color: var(--color-blue);
    }
  }

  &__slider-pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-gap: 5px;
  }
}
