<footer>
  <div class="container">
    <div class="footer">
      <nav class="footer__nav nav">
        <ul class="nav__list">
          <li class="nav__item">
            <a class="nav__link" href="#">Ogólne zasady i warunki</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#">Najczęściej zadawane pytania</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#">O nas</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#">Regulamin reklamacji i zwrotu</a>
          </li>
        </ul>
      </nav>

      <div class="footer__about">
        <div class="group">LKVK GROUP sp. z o.o.</div>
        <div class="nip">NIP: 7011048853</div>
        <a href="mailto:info@defi-home.eu" class="email">info@defi-home.eu</a>
      </div>

      <ul class="footer__adv">
        <li class="footer__adv-list">
          <div class="footer__adv-image">
            <picture>
              <source type='image/webp' srcset='img/advantage/1.webp'>
              <img width='42' height='48' src='img/advantage/1.png' alt='Adv 1'>
            </picture>
          </div>

          <span class="footer__adv-text">Bezpłatna wymiana produktu. Lub całkowity zwrot kosztów zakupu!</span>
        </li>
        <li class="footer__adv-list">
          <div class="footer__adv-image">
            <picture>
              <source type='image/webp' srcset='img/advantage/2.webp'>
              <img width='48' height='48' src='img/advantage/2.png' alt='Adv 2'>
            </picture>
          </div>

          <span class="footer__adv-text">100% bezpiecznych zakupów. Zwrotu bez podania przyczyny!</span>
        </li>
        <li class="footer__adv-list">
          <div class="footer__adv-image">
            <picture>
              <source type='image/webp' srcset='img/advantage/3.webp'>
              <img width='48' height='48' src='img/advantage/3.png' alt='Adv 3'>
            </picture>
          </div>

          <span class="footer__adv-text">Sprzedawca z Polski. Super jakość.</span>
        </li>
      </ul>
    </div>
  </div>
</footer>

