<header>
  <div class="container">
    <div class="header">
      <div class="header__burger">
        <svg width='36' height='24'>
          <use href='img/sprite/sprite.svg#burger'></use>
        </svg>
      </div>

      <div class="header__contacts">
        <span>Zadzwóni i zamów</span>
        <a href="tel:48573580904">+48 573 580 904</a>
      </div>

      <a href="#">
        <picture>
          <source type='image/webp' srcset='img/logo.webp'>
          <img width='184' height='30' src='img/logo.png' alt='Defi-home'>
        </picture>
      </a>
    </div>
  </div>
</header>
