.card-banner {
  position: relative;
  max-height: 660px;

  &__image {
    position: relative;
    max-height: 660px;

    picture,
    img {
      width: 100%;
      max-height: 660px;
      object-fit: cover;
      border-radius: 5px;
    }

    &::before {
      content: '';
      position: absolute;
      height: 170px;
      width: 100%;
      top: 0;
      background: linear-gradient(0deg, #223D69 0%, rgba(34, 61, 105, 0) 100%);
      border-radius: 5px;
      transform: matrix(1, 0, 0, -1, 0, 0);
    }
  }

  &__title {
    position: absolute;
    width: max-content;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 22px;
    line-height: 29px;
    font-weight: 700;
    color: var(--color-white);
  }

  &__link {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
  }
}
