.discount {
  padding: 2px 8px;
  height: fit-content;
  display: flex;
  align-items: center;
  background-color: var(--color-orange);
  border-radius: 4px;
  font-family: var(--font-family-raleway);
  font-size: 14px;
  line-height: 19px;
  font-weight: 500;
  color: var(--color-white);
}
