.search {
  max-width: 946px;
  width: 100%;
  margin: clamp(20px, 2.632vw, 30px) auto 0;
  display: flex;
  align-items: center;


  fieldset {
    width: 100%;
    position: relative;
    border-radius: 35px;
    border: 1px solid var(--color-border);
  }

  &__label {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__input {
    padding: 11px clamp(20px, 2.632vw, 30px) 10px;
    font-size: 14px;
    line-height: 19px;
    background-color: transparent;

    &::placeholder {
      color: var(--color-border);
    }
  }

  &__categories {
    position: absolute;
    top: 0;
    right: 0;
    flex-shrink: 0;
    padding: 11px clamp(15px, 2.632vw, 30px) 10px;
    border-left: 1px solid var(--color-border);
    font-size: 14px;
    line-height: 19px;
  }

  &__categories-header {
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-gap: 8px;
    border-radius: 5px;
    cursor: pointer;

    svg {
      transition: all 0.4s ease;
      transform: scale(100%);
    }
  }

  &__categories-current {
    font-size: 14px;
    line-height: 19px;
  }

  &__categories-body {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    border: 1px solid var(--color-border);
    background-color: var(--color-bg);
    border-radius: 10px;
    opacity: 0;
    visibility: hidden;
    z-index: -1;
    transition: all .3s ease;

    li {
      padding: 10px 30px;
      font-size: 14px;
      line-height: 19px;
      cursor: pointer;
    }
  }

}
