.select {
	position: relative;

  &.is-active {
    .select__body {
      visibility: visible;
      opacity: 1;
      z-index: 5;
    }

    .select__header {
      svg {
        transform: scale(100%);
      }
    }
  }
}






// .select {
// 	position: relative;

//     &.is-active {
//         .select__icon svg {
//             transform: scaleY(-1);
//         }

//         .select__body {
//             visibility: visible;
//             opacity: 1;
//             display: block;
//         }
//     }
// }

// .select__icon svg ,
// .select__body {
//     transition: all .4s;
// }
