.title {
  font-size: 38px;
  line-height: 51px;
  font-weight: 700;
}

.old-price {
  font-size: 18px;
  line-height: 24px;
  font-weight: 900;
  text-decoration-line: line-through;
}

.new-price {
  font-size: 30px;
  line-height: 41px;
  font-weight: 900;
  color: var(--color-orange);
}

.current-price {
  font-size: 30px;
  line-height: 41px;
  font-weight: 900;
}

