:root {
    /* -- Fonts --*/
  --font-family-poppins: "Poppins", sans-serif; // var(--font-family-poppins);
  --font-family-raleway: "Raleway", sans-serif; // var(--font-family-raleway);

    /* -- Colors --*/
    --color-main: #223D69; // var(--color-main);
    --color-white: #ffffff; // var(--color-white);
    --color-black: #000000; // var(--color-black);
    --color-border: #B0B4C3; // var(--color-border);
    --color-bg: #EBF5FE; // var(--color-bg);
    --color-nero: #282828; // var(--color-nero);
    --color-adv:  #E7FAEA; // var(--color-adv);
    --color-describe:  #E9ECF4; // var(--color-describe);
    --color-orange:  #F96A1A; // var(--color-orange);
    --color-red:  #F91A1A; // var(--color-red);
    --color-green:  #4AC44A; // var(--color-green);
    --color-green-light:  #60B760; // var(--color-green-light);
    --color-blue:  #125ED9; // var(--color-blue);
    --color-gold:  #FFC107; // var(--color-gold);
}








